.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 48px;
	background-color: $redColor;
	font-size: 18px;
	color: #fff;
	padding: 2px 0px;
	transition: all 0.3s ease 0s;
	@include adaptiv-value("font-size", 18, 16, 1);
	@include adaptiv-value("padding-left", 28, 20, 1);
	@include adaptiv-value("padding-right", 28, 20, 1);
	@media (any-hover: hover) {
		&:hover {
			
		}
	}
}
._title {
	@include adaptiv-value("font-size", 30, 24, 1);
	line-height: 36 / 30 * 100%;
	font-weight: 300;
	text-transform: uppercase;
	span {
		font-weight: 400;
	}
}

.order-btn {
	// padding: 0px 16px;
	// display: inline-flex;
	// align-items: center;
	// min-height: 48px;
	// color: #3F3F3F;
	// border: 1px solid #000;
	
	min-height: 48px;
	padding: 0px 16px;
	border: 1px solid #000;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: $blackColor;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			border-color: transparent;
			background-color: $redColor;
			color: #fff;
		}
	}
}

.form {
	&__title {
		@include adaptiv-value("font-size", 20, 18, 1);
		line-height: 24 / 20 * 100%;
		letter-spacing: 0.02em;
		margin: 0px 0px 20px 0px;
		color: #3F3F3F;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__text {
		@include adaptiv-value("font-size", 16, 14, 1);
		line-height: 20 / 16 * 100%;
		margin: 0px 0px 34px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__input {
		margin: 0px 0px 8px 0px;
	}
	&__textarea {
		margin: 0px 0px 36px 0px;
	}

	&__bottom {
		// @media (min-width: $md2+px) {
		// 	display: flex;
		// 	align-items: flex-start;
		// }
	}

	&__btn {	
		width: 100%;
		// @media (min-width: $md2+px) {
		// 	flex: 0 0 250px;
		// }
		// @media (max-width: $md2+px) {
		// 	width: 100%;
		// 	margin: 0px 0px 16px 0px;
		// }
	}

	&__agreement {
		line-height: 18 / 12 * 100%;
		font-size: 12px;
		
		a {
			color: #3F3F3F;
			text-decoration: underline;
		}
		// @media (min-width: $md2+px) {
		// 	padding: 0px 0px 0px 30px;
		// 	flex: 1 1 auto;
		// }
	}
}


// .rub:after {
// 	content: "\20BD";
// }
// %graystyle {
// 	transition: all 0.3s ease 0s;
// 	filter: grayscale(1);
// 	-webkit-filter: grayscale(1);
// 	-moz-filter: grayscale(1);
// 	-o-filter: grayscale(1);
// }
// %graystyleoff {
// 	filter: grayscale(0);
// 	-webkit-filter: grayscale(0);
// 	-moz-filter: grayscale(0);
// 	-o-filter: grayscale(0);
// }


//! шахматная доска при помощи border
//! оболочка
// ul {
// 	border-top: 1px solid #444;
// 	border-left: 1px solid #444;
// }
//! дети
// li {
// 	border-right: 1px solid #444;
// 	border-bottom: 1px solid #444;
// }